name: Flutter

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "master" ]
    paths-ignore:
       - "docs/**"
       - ".vscode/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      # - name: Create file
      #   run: cat /home/runner/work/simplify_the_task/android/app/google-services.json | base64

      - name: Putting google services
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: touch ./android/app/google-services.json && echo $GOOGLE_SERVICES_JSON | base64 -d > ./android/app/google-services.json

      - name: Putting firebase options [DEV]
        env:
          DATA: ${{ secrets.FIREBASE_OPTIONS_DEV }}
        run: mkdir -p lib/firebase/dev; touch ./lib/firebase/dev/firebase_options.dart && echo $FIREBASE_OPTIONS_DEV | base64 -di > ./lib/firebase/dev/firebase_options.dart

      - name: Putting firebase options [PROD]
        env:
          DATA: ${{ secrets.FIREBASE_OPTIONS_PROD }}
        run: mkdir -p lib/firebase/prod; touch ./lib/firebase/prod/firebase_options.dart && echo $FIREBASE_OPTIONS_PROD | base64 -di > ./lib/firebase/prod/firebase_options.dart
      
      - name: Flutter action
        uses: subosito/flutter-action@v2.10.0
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        # run: dart format --output=none --set-exit-if-changed .
        run: find . -name *.dart -not -name firebase_options.dart -exec dart format {} \;

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Run build dev
        run: flutter build apk --flavor dev
